<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cnavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cassoundra</a>
        </div>

        <div class="collapse navbar-collapse" id="cnavbar">
            <ul class="nav navbar-nav">
                <li{% if pg == 'upload' %} class="active"{% endif %}><a href="{% url 'cassupload:upload' %}">Upload{% if pg == 'upload' %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
                <li{% if pg == 'list' %} class="active"{% endif %}><a href="{% url 'cassupload:list' %}">Sound List{% if pg == 'list' %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
            </ul>
        </div>
    </div>
</nav>
