<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Cassoundra - Upload</title>
    <link rel="stylesheet" href="{% static 'cassupload/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=file]').on('change', function () {
                if (!$('#id_name').val()) {
                    var filename = $(this).val().split('\\').pop().split('/').pop().replace('.mp3', '');
                    if (!/\s/g.test(filename)) // if no spaces
                        $('#id_name').val(filename);
                }
            });
        });
    </script>
</head>
<body>

<form action="{% url 'cassupload:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field" id="file_field">
        {{ form.file.errors }}
        <label for="{{ form.file.id_for_label }}">File: </label>
        <span class="inp">{{ form.file }}</span>
    </div>
    <br>
    <div class="field" id="command_field">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Command:</label>
        <span class="inp">!{{ form.name }}</span>
    </div>
    <br>
    <div class="field" id="loud_field">
        {{ form.loud.errors }}
        <label for="{{ form.loud.id_for_label }}">Loud? </label>
        <span class="inp">{{ form.loud }}</span>
    </div>
    <br><br>
    <input type="submit" value="Upload" />
</form>

<br><br>

<div class="info">
    <h1>Upload Restrictions</h1>
    <li>Must be an MP3 file</li>
    <li>1MB maximum file size</li>
</div>

</body>
</html>
